* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: auto;
}
a { text-decoration: none; }
ul { list-style: none; }
.header li, .contant p, .contant button, .welcome h1, .welcome h2, .welcome p, 
.work h1, .cat h2, .offer h1, .off h2, .why h1, .disc, .che span, .price h2, 
.cir h3, .pri h2, .pr1, .pr2, .pr3,
.team-name, .team-role, .rec-titel, .news-title, .news-desc, .news-author, .copyright {
    text-transform: capitalize;
}
.work h1, .offer h1, .why h1, .price h2 {
    font-size: 48px;
    letter-spacing: 1px;
}
.header li, .house .fa-house, .contant, .item1, .item2, .item3, 
.cat div, .off div, .why img, .stat, .pri,
.team-item, .rec {
    float: left;
}

/* --- Header Section --- */
.header {
    background-color: rgba(43, 7, 11, 0.7);
    width: 90%;
    height: 55px;
    margin-left: 5%;
    position: fixed;
    z-index: 30;
    top: 10px;
    border-radius: 10px;
}

.lists {
    float: right;
    margin: auto;
    position: absolute;
    right: 2%;
    top: 35%;
}

.header li { margin-left: 50px; font-size: 18px; display: inline-block; }
.header li a { color: #E6C898; position: relative; }

.nested { position: relative; }
.nested-list {
    position: absolute; top: 99%; left: 0;
    background: #3D0C11; width: 180px; height: 135px;
    display: none; border-radius: 10px; border: 2px solid #E6C898;
    z-index: 15; text-align: center; color: #766910;
}

.nested-list li { padding: 3px 8px; margin-top: 9px; margin-left: 17px; color: #e4b365; }
.nested:hover .nested-list { display: block; }

.search { position: relative; margin-left: 30px; top: -8px; left: 10px; }
.search input { width: 20%; border-radius: 25px; height: 30px; margin: 20px 10px; border: 0; padding-left: 40px; }
.search i { position: absolute; left: 25px; color: #ad8b55; font-size: 18px; top: 25px; }

.house .fa-house { color: #af8034; line-height: 55px; font-size: 28px; margin-left: 5px; }
.lii { margin-left: 12px; }

/* Header Link Hover Effect */
.header li a::after {
    content: ''; position: absolute; width: 0; height: 2px;
    bottom: 0; left: 0; background-color: #a37815; transition: width 0.5s;
}
.header li a:hover::after { width: 100%; background-color: rgb(168, 91, 20); }

/* --- Home Section --- */
.home {
    width: 100%; height: 100vh;
    background-image: url(../IMGES/download\ \(177\).png);
    background-size: cover; position: relative; overflow: hidden;
}

.cont {
    position: absolute; top: 0; right: 0; width: 100%; height: 100%;
    background-color: rgba(19, 16, 18, 0.4); padding: 100px; text-align: center;
}

.contant { width: 100%; height: 90%; text-align: center; position: absolute; top: 19%; }
.contant h2 {
    color: #E6C898; text-transform: uppercase; font-size: 45px;
    margin-top: 8%; font-family: 'Playfair Display', serif; letter-spacing: 2px; margin-left: 6%;
}
.contant p {
    font-size: 17px; color: #c7c1c1; margin-top: 3%;
    width: 280px; margin-left: 40%; font-family: 'Montserrat', sans-serif;
}
.contant button {
    margin-top: 5%; width: 230px; height: 53px; cursor: pointer;
    border-radius: 10px; font-size: 20px; font-family: 'Playfair Display', serif;
    letter-spacing: 1px; font-weight: 700; border: 0 solid rgb(50, 8, 36);
}

.contant .btn2 { margin-left: 20px; background-color: #3D0C11; color: #E6C898; }
.contant .btn1 { margin-left: 28px; background-color: #ece1e1; color: #3D0C11; border: 2px solid #3D0C11; }
.btn2:hover { background-color: rgba(178, 170, 178, 0.931); color: rgb(80, 16, 16); transition: 0.5s; }
.btn1:hover { background-color: #3D0C11; transition: 0.5s; color: #E6C898; }

/* --- Welcome Section --- */
.welcome { height: 100vh; width: 100%; margin-top: 150px; text-align: center; }
.contant2 { margin: auto; width: 92%; background-color: #3D0C11; }
.welcome h1 { color: #6b161f; font-size: 45px; letter-spacing: 1px; }
.lin { width: 100px; height: 5px; background-color: #E6C898; margin: 10px auto 0; }

.item {
    margin-top: 7%; height: 250px; border-radius: 20px; width: 292px;
    border: 2px solid #ad7a28; position: relative;
}
.item1 { margin-left: 3.5%; }
.item2, .item3 { margin-left: 10%; }

.welcome h2 { margin-top: 25px; color: #63141c; font-size: 21px; font-family: 'Playfair Display', serif; letter-spacing: 1px; }
.welcome i { margin-top: 10px; font-size: 30px; color: #956210; }
.welcome p { margin-top: 25px; color: #333333; font-size: 17px; }
.welcome a { color: #761820; margin-top: 25px; font-size: 22px; font-weight: bold; }
.welcome a::after { display: none; }

/* Item Overlay (After) */
.item::after {
    position: absolute; content: ""; width: 0; height: 0; top: 0; left: 0;
    background-color: rgba(116, 5, 16, 0.5); opacity: 0.5; z-index: 1; border-radius: 20px;
}
.item:hover::after { width: 100%; height: 100%; transition: 0.8s; opacity: 0.5; }

.item h2, .item p, .item a { position: relative; z-index: 2; transition: color 0.3s; }
.item:hover h2 { color: rgb(134, 102, 7); }
.item:hover p, .item:hover i { color: rgb(96, 12, 12); }
.item:hover a { color: rgb(169, 144, 22); }

/* --- Work Section --- */
.work {
    height: 130vh; padding-top: 80px; width: 100%; margin-top: 50px;
    text-align: center; background-color: rgba(57, 7, 12, 0.9);
}
.work h1 { color: #E6C898; }
.lin2 { width: 120px; height: 5px; background-color: #2d050a; margin-left: 45%; margin-top: 1px; }

.cat div {
    width: 25%; height: 220px; margin-top: 2%; position: relative;
    text-align: center; overflow: auto; background-size: cover;
}
.ph1, .ph4 { margin-left: 10%; }
.ph2, .ph3, .ph5, .ph6 { margin-left: 40px; }
.ph1 { background-image: url(../IMGES/Vibrant\ Autumnal\ Floral\ Arrangement\ in\ Deep\ Jewel\ Tones4.png); }
.ph2, .ph6 { background-image: url(../IMGES/vanitas6.png); }
.ph3 { background-image: url(../IMGES/Цветочный\ фон1.png); }
.ph4 { background-image: url(../IMGES/fleu5r.png); }
.ph5 { background-image: url(../IMGES/downloa333d.png); }

.cat h2 { color: #cfbea3; margin-top: 25%; font-size: 35px; text-transform: uppercase; }
.cat i { color: #cea6af; font-size: 30px; margin-top: 10px; cursor: pointer; }
.cat p { color: #d1cdc6; font-size: 20px; margin-top: 5px; }
.cat h2, .cat i, .cat p { visibility: hidden; position: relative; z-index: 2; }

/* Category Overlay (After) */
.cat div::after {
    position: absolute; content: ""; width: 100%; height: 100%; top: 0; left: 0;
    background-color: rgba(93, 17, 25, 0.5); visibility: hidden; opacity: 0; z-index: 1;
}
.cat div:hover::after { visibility: visible; opacity: 1; }
.cat div:hover h2, .cat div:hover i, .cat div:hover p { visibility: visible; }

/* --- Offer Section --- */
.offer {
    height: 130vh; padding-top: 80px; width: 100%; margin-top: 5px;
    text-align: center; background-color: rgba(249, 245, 245, 0.9);
}
.offer h1, .why h1, .cir h3 { color: #580b20; }
.lin3 { width: 120px; height: 5px; background-color: #a5641e; margin-left: 45%; margin-top: 1px; }

.off div {
    width: 24.5%; height: 195px; margin-top: 2%; border: 2px solid goldenrod;
    position: relative; text-align: center; overflow: auto; border-radius: 20px;
}
.of1, .of4 { margin-left: 10%; }
.of2, .of3, .of5, .of6 { margin-left: 25px; }

.off i { float: left; font-size: 33px; margin-left: 10px; margin-top: 17px; color: #af8034; cursor: pointer; }
.off h2 { float: left; margin-top: 15px; font-size: 25px; width: 180px; color: #3D0C11; margin-left: 10px; }
.off p { margin-top: 100px; color: #333333; }
.off h2, .off p, .off i { position: relative; z-index: 10; }

/* Offer Overlay (After) */
.off div::after {
    position: absolute; content: ""; width: 0; height: 0; top: 0; left: 0;
    background-color: rgba(116, 5, 16, 0.5); opacity: 0.5; z-index: 7; border-radius: 20px;
}
.off div:hover::after { width: 100%; height: 100%; transition: 0.8s; opacity: 0.5; }

.off div:hover h2 { color: #967509; }
.off div:hover i { color: #57081b; }
.off div:hover p { color: #0d0c0c; }

/* --- Why Us Section --- */
.why {
    height: 120vh; padding-top: 80px; width: 100%; margin-top: 1px;
    background-color: rgba(246, 241, 241, 0.9); position: relative;
}
.why h1 { margin-left: 100px; margin-bottom: 20px; }
.lin4 { width: 100px; height: 5px; background-color: #a5641e; margin-left: 8%; margin-top: -15px; }

.disc { width: 500px; margin-top: 30px; font-size: 20px; color: #6f4545; margin-left: 70px; font-weight: bold; }
.why img {
    width: 320px; height: 450px; float: right; margin-left: 650px;
    position: absolute; top: 25%; left: 10%; border-radius: 15px;
}
.imge i {
    float: right; top: 70px; margin-left: 60px; position: relative; right: 240px; display: block;
}
.che { margin-top: 20px; margin-left: 50px; }
.che i { color: #967509; font-size: 25px; margin-right: 10px; padding: 20px 0; }
.che span { color: rgba(97, 46, 58, 0.9); font-size: 20px; font-weight: bold; padding: 20px 0; }
.c1, .c2:hover { color: #967509; }
.c2 { color: #784348; }

/* --- Sec6 (Stats) --- */
.sec6 {
    height: 80vh; width: 100%; margin-top: 1px;
    background-image: url(../IMGES/f1.jfif); background-attachment: fixed;
    position: relative; background-size: cover;
}
.over { background-color: rgba(82, 26, 33, 0.4); width: 100%; height: 100%; }
.sitems { text-align: center; }
.stat { padding: 30px 35px; margin-top: 10%; margin-left: 3%; overflow: hidden; margin-right: 1%; }
.stat i { font-size: 40px; margin-bottom: 10px; color: #a37815; }
.stat h3 { font-size: 35px; margin: 10px 0; font-weight: bold; color: #c6a63d; }
.stat p { font-size: 18px; text-transform: uppercase; color: #9d8d58; font-weight: bold; }

/* --- Price Section --- */
.price {
    width: 100%; min-height: 120vh; background-color: rgba(246, 241, 241, 0.9);
    position: relative; padding-top: 50px;
}
.price h2 { color: #600f0f; text-align: center; margin-bottom: 10px; margin-top: 0; }
.lin5 { width: 100px; height: 5px; background-color: #a5641e; margin: 0 auto 50px auto; }

.mony { width: 90%; margin: 0 auto; overflow: hidden; }
.pri {
    width: 25%; margin: 0 4.16%; background-color: #fff; text-align: center;
    border: 1px solid #ab830d; height: 400px; padding-top: 20px; border-radius: 10px; position: relative;
}
.cir {
    width: 100px; height: 100px; border-radius: 50%; border: 3px solid rgb(124, 60, 75);
    margin: 10px auto; padding-top: 30px; font-weight: bold;
}
.cir h3 { margin: 0; }
.pri h2 { font-size: 20px; color: #580b20; }
.pr1, .pr2, .pr3 { font-size: 17px; color: #59464a; padding: 15px 15px; font-weight: bold; }
.mony .pri h2, .mony .pri p, .mony .pri button, .mony .pri .cir { position: relative; z-index: 2; }

button {
    margin-top: 20px; padding: 7px 30px; cursor: pointer; border: 2px solid rgb(171, 124, 16);
    font-size: 15px; color: #580b20; background-color: #e8dcdf; font-weight: bold; border-radius: 10px;
}

/* Price Card Overlay (After) */
.mony .pri::after {
    content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 0;
    background-color: rgba(116, 5, 16, 0.3); transition: 0.5s; border-radius: 10px; z-index: 0;
}
.mony .pri:hover::after { height: 100%; }

.pri:hover .cir { border: 3px solid rgb(171, 51, 81); }
.pri:hover h2 { color: #b51942; }

/* sec member */
.member{
    height: 70vh; width: 100%; margin-top: 1px;
    background-image: url(../IMGES/it’s\ the\ little\ things1\ x.png);
    background-attachment: fixed;
    position: relative; background-size: cover;
}
.over2{ background-color: rgba(118, 38, 48, 0.7); width: 100%; height: 100%; }
.conti1 {
    width: 90%;          
    margin: 0 auto;      
    overflow: hidden;   
    padding-top: 50px;  
    padding-left: 150px; 
}
.mem {
    float: left;
    width: 46%;           
    margin-left: 2.6%;    
    margin-top: 50px;   
    overflow: hidden;     
    color: white;  
}
.meimg {
    float: left;    
}
.meimg img {
    width: 120px;
    height: 120px;
    border-radius: 50%; 
    margin-top: 20px;   
}
.inf {
    float: left;         
    width: 60%;      
    margin-left: 20px;  
    padding-top: 15px; 
    text-align: left;     
}
.inf h3 {
    margin-top: 35px;       
    margin-bottom:7px;
    font-size: 23px;
}
.inf .pr1{
    color: #d3a51b;  
    font-weight: bold;
    margin: 0;
    font-size: 19px;
    margin-bottom: 10px; 
    text-transform: capitalize;
} 
.mem .pr2 {
    margin-right:170px; 
    margin-top: 150px;
    width: 390px;
    color: #e6d2d2;
    font-size: 16px;
    line-height: 1.6;       
}
/* ============ TEAM SECTION (Class Names Added) ============ */
.team {
    width: 100%; min-height: 120vh; background-color: rgba(246, 241, 241, 0.9);
    position: relative; padding-top: 50px;
}
.title1 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #57081b;
}
.line {
    width: 70px;
    height: 4px;
    background-color: #705c12;
    margin: 10px auto 50px auto;
}
.team-container {
    width: 80%;
    margin: auto;
}
.team-item {
    background-color: #e3dbdb; 
    width: 30%;
    height: 450px;
    text-align: center;
    padding: 30px 20px;
    position: relative;
    transition: 0.5s; 
    border-radius: 10px;
}
.team-item2 {
    margin: 0 5%;
}
.team-img {
    width: 90%;
    margin: auto;
    position: relative; 
}
.team-img img {
    width: 100%;
    display: block;
    height: 300px; 
    border-radius: 10px;     
}
.team-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(141, 64, 64, 0.5); 
    opacity: 0;
    transition: 0.5s ease-in-out;
    z-index: 1; 
    border-radius: 10px;
}
.team-item:hover::after {
    height: 100%;
    opacity: 1;
}
.team-item:hover .team-img::after {
    opacity: 1;
    visibility: visible;
}
.team-icons {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 150px; 
    background-color: rgba(101, 8, 37, 0.8); 
    display: flex;
    align-items: center;
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
    z-index: 0;
}
.team-item:hover .team-icons {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
.team-icons a {
    display: block;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    margin: 5px 0;
}
.team-info {
    margin-top: 20px;
}

.team-name {
    color: #5f0e0e;
    margin-bottom: 10px;
    transition: 0.5s;
}
.team-role {
    color: #2a2727;
    font-weight: bold;
    font-size: 19px;
    transition: 0.5s;
}

.team-item:hover {
    background-color: #ccc; 
}

.team-item:hover .team-name {
    color: #fff;
}

.team-item:hover .team-role {
    color:#a5641e;
}

/* ============ RECENT SECTION (Class Names Added) ============ */
.recent{
    width: 100%; min-height: 120vh; background-color: rgba(246, 241, 241, 0.9);
    position: relative; padding-top: 50px; text-align: center;
}

.rec-titel{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #57081b;
}

.rec-line {
    width: 70px;
    height: 4px;
    background-color: #705c12;
    margin: 10px auto 50px auto;
}
.rec-container {
    width: 80%;
    margin: auto;
}
.rec{background-color: #f4f4f4; 
    width: 30%;
    height: 490px;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    transition: 0.5s; 
    border-radius: 10px;
    border:1px solid rgb(185, 141, 11);
}
.rec2 {
    margin: 0 5%;
}
.rec img{
    width: 100%;
    display: block;
    height: 200px; 
    border-radius: 10px;  
}
.rec-inf{
    width: 100%;
    height: 20px;
    margin-top: 20px;
}
.news-icon {
    color: #580b20;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}
.news-meta {
    color: #8a660a;
    font-size: 17px;
    margin-right: 5px;
    font-weight: bold;
}
.news-title {
    font-size: 20px;
    padding-top: 20px;
    color: #67171f;
}
.news-desc {
    font-weight: bold;
    font-size: 15px;
    color: #333333;
    margin-top: 25px;
}
 .learn {
     text-decoration: none !important; 
    font-size: 17px;
    color: #57081b;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block; 
    cursor: pointer;
}
.rec::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(178, 175, 167, 0.5);
    opacity: 0;
    transition: 0.5s ;
    border-radius: 10px;
    z-index: 1; 
}
.rec:hover::after {
    height: 100%;
    opacity: 1;
}
.rec img, 
.news-title, 
.news-desc, 
.news-meta, 
.news-icon, 
.rec .rec-inf,
.rec .learn {
    position: relative; 
    z-index: 2;         
    transition: 0.5s; 
}
.rec:hover .news-title {
    color: #825009; 
}
.rec:hover .news-desc {
    color: #483413; 
}
.rec:hover .news-meta {
    color: #402f07; 
}
/* ============ LAST SECTION (Class Names Added) ============ */
.last {
    width: 100%;
    background-color: rgba(60, 9, 15, 0.9);
    text-align: center;
    height: 65vh; 
}
.last-ele {
    width: 50%; 
    margin: auto; 
    overflow: hidden;
    padding-top: 30px;
}
.footer-logo {
    width: 300px; 
    height: 200px;
    border-radius: 15px;
    margin-left: 170px;
    margin-bottom: 30px; 
    display:block;
}


.footer-icon {
    display: inline-block; 
    width: 50px;
    height: 50px;
    text-align: center; 
    line-height: 50px; 
    padding-top: 14px;
    background-color: #d0c17f;
    color: #fff;
    font-size: 22px;
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
    transition: 0.5s;
}

.footer-icon:hover {
    background-color: #8a660a;
}
.copyright {
    display: block; 
    color: #ccc;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}